@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro&display=swap");
/* line 27, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 15px; }

/* line 36, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh; }

/* line 47, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header {
  grid-area: header;
  background-color: #d8d1d1; }

/* line 52, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside {
  grid-area: aside;
  background-color: #e5eadd;
  font-family: "Poppins", sans-serif; }

/* line 58, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.main {
  grid-area: main;
  background-color: #fff; }

/* line 62, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.footer {
  grid-area: footer;
  background-color: #d8d1d1; }

/* flexing header and footer*/
/* line 68, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3a4a40;
  padding: 0 15px; }

/* flexing aside */
/* line 78, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px); }

/* line 89, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside.active {
  transform: translateX(0); }

/* line 93, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside_list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none; }

/* line 99, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside_list-item {
  padding: 20px 20px 20px 40px;
  color: #1b1212; }

/* line 104, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif; }

/* line 110, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: seagreen; */
  height: 100px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #003400;
  border-left: 5px solid #9b9bb3; }

/* line 126, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.fa-angle-double-down {
  border-radius: 50%;
  height: auto;
  background-color: #5cdb94;
  padding: 8px 10px;
  transition: 0.4s; }

/* line 134, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header_menu_img {
  border-radius: 20%;
  width: 100px;
  height: 100px; }

/* line 140, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header_name {
  margin-left: 5px;
  margin-top: 15%;
  color: #08c697; }

/* line 146, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.overview_card {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px; }

/* line 151, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.65rem;
  z-index: 1;
  width: 50%;
  background: #fff;
  -webkit-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out; }

/* line 165, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header_menu {
  display: flex; }

/* line 169, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.fa-angle-double-up {
  border-radius: 50%;
  height: auto;
  background-color: #ff6d5c;
  padding: 8px 10px;
  transition: 0.4s; }

/* line 177, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.overview_card-info {
  font-family: "Poppins", sans-serif; }

/* Layout for main-cards section // below main_overview */
/* line 182, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 400px 400px;
  grid-template-areas: "card1" "card2" "card3";
  grid-gap: 10px; }

/* line 193, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.card {
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: black; }

/* line 200, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.card:first-child {
  grid-area: card1;
  font-family: "Poppins", sans-serif; }

/* line 204, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.card:nth-child(2) {
  grid-area: card2;
  font-family: "Poppins", sans-serif; }

/* line 208, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.card:nth-child(3) {
  grid-area: card3;
  font-family: "Poppins", sans-serif; }

/* responsive layout */
@media only screen and (min-width: 750px) {
  /* line 215, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "aside header" "aside main" "aside footer";
    height: 100vh; }
  /* line 226, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0); }
  /* line 233, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas: "card1 card2" "card1 card3";
    grid-gap: 10px; } }

/* line 245, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.menu-icon {
  position: fixed;
  display: flex;
  top: 2px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  color: black; }

/* line 258, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
#responsive-canvas {
  width: 100%; }

/* line 262, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.header_search {
  margin-left: 24px; }

/* line 266, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer; }

/* line 274, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.canvas {
  width: 100%;
  height: auto; }

/* line 279, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.aside_close-icon {
  color: #000000; }

@media only screen and (min-width: 750px) {
  /* line 288, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .aside_close-icon {
    display: none;
    color: #000000; } }
