@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
/* line 4, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
* {
  width: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif; }

/* line 14, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
body {
  background-color: #f3f5f9; }

/* line 18, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
.wrapper {
  display: flex;
  position: relative; }
  /* line 22, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .wrapper .sidebar {
    width: 200px;
    height: 100%;
    background: #DFE5D4;
    padding: 30px 0px;
    position: fixed; }
    /* line 29, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
    .wrapper .sidebar h2 {
      color: #5CDB94;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px; }
    /* line 36, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
    .wrapper .sidebar ul li {
      padding: 15px;
      border-bottom: 1px solid #0c0c0f;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.05); }
      /* line 42, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
      .wrapper .sidebar ul li a {
        color: #110f1b;
        display: block; }
        /* line 46, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
        .wrapper .sidebar ul li a .fas {
          width: 25px; }
      /* line 51, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
      .wrapper .sidebar ul li:hover {
        background-color: #4f8d5c; }
        /* line 54, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
        .wrapper .sidebar ul li:hover a {
          color: #fff; }
    /* line 60, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
    .wrapper .sidebar .social_media {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex; }
      /* line 67, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
      .wrapper .sidebar .social_media a {
        display: block;
        width: 40px;
        background: #594f8d;
        height: 40px;
        line-height: 45px;
        text-align: center;
        margin: 0 5px;
        color: #bdb8d7;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
  /* line 82, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .wrapper .main_content {
    width: 100%;
    margin-left: 200px; }
    /* line 86, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
    .wrapper .main_content .header {
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8; }
    /* line 93, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
    .wrapper .main_content .info {
      margin: 20px;
      color: #717171;
      line-height: 25px; }
      /* line 98, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
      .wrapper .main_content .info div {
        margin-bottom: 20px; }

@media (max-height: 500px) {
  /* line 106, AndaluciaCOVID_Dashboard/static/dashboard/style.scss */
  .social_media {
    display: none !important; } }
