@import url("https://fonts.googleapis.com/css2?family=B612:wght@700&family=Montserrat&display=swap");
/* line 27, AndaluciaCOVID_Dashboard/static/css/style.scss */
body {
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
  font-size: 15px; }

/* line 35, AndaluciaCOVID_Dashboard/static/css/style.scss */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: "header" "main" "footer";
  height: 100vh; }

/* line 43, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header {
  grid-area: header;
  background-color: #f6f6f6;
  align-items: center;
  display: -webkit-box;
  display: flex;
  padding: 0.5em 0.5em 0.5em 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%; }

/* line 55, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header .button {
  margin-right: 50%; }

/* line 59, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside {
  grid-area: aside;
  background-color: #ececec;
  font-family: "B612", sans-serif; }

/* line 65, AndaluciaCOVID_Dashboard/static/css/style.scss */
.main {
  grid-area: main;
  background-color: #fff; }

/* line 70, AndaluciaCOVID_Dashboard/static/css/style.scss */
.footer {
  grid-area: footer;
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6; }

/* flexing header and footer*/
/* line 79, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3a4a40;
  padding: 0 15px; }

/* line 88, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header_menu_img {
  width: 150px;
  margin-left: 20px;
  height: 150px; }

/* flexing aside */
/* line 97, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 210px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px); }

/* line 108, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside.active {
  transform: translateX(0); }

/* line 112, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside_list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none; }

/* line 118, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside_list-item {
  padding: 20px 20px 20px 40px;
  color: #1b1212; }

/* line 123, AndaluciaCOVID_Dashboard/static/css/style.scss */
.main_overview {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif; }

/* line 130, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_provs {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
  /* background-color: seagreen; */
  height: 100px;
  color: #003400; }

/* line 144, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_ts {
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* background-color: seagreen; */
  color: #003400; }

/* line 155, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: seagreen; */
  height: 100px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #003400; }

/* line 170, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card:nth-child(0) {
  border-left: 5px solid #9b9bb3; }

/* line 174, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card:nth-child(1) {
  border-left: 5px solid #2525a1; }

/* line 178, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card:nth-child(2) {
  border-left: 5px solid #2525a1; }

/* line 182, AndaluciaCOVID_Dashboard/static/css/style.scss */
.fa-angle-double-down {
  border-radius: 50%;
  height: auto;
  background-color: #5cdb94;
  padding: 8px 10px;
  transition: 0.4s; }

/* line 190, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header_menu_img {
  margin-left: 10px; }

/* line 194, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px; }

/* line 200, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header_menu {
  display: flex; }

/* line 204, AndaluciaCOVID_Dashboard/static/css/style.scss */
.overview_card-info {
  font-family: "B612", sans-serif; }

/* Layout for main-cards section // below main_overview */
/* line 211, AndaluciaCOVID_Dashboard/static/css/style.scss */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 400px 400px;
  grid-template-areas: "card1" "card2" "card3";
  grid-gap: 10px; }

/* line 220, AndaluciaCOVID_Dashboard/static/css/style.scss */
.card {
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: black; }

/* line 227, AndaluciaCOVID_Dashboard/static/css/style.scss */
.card:first-child {
  grid-area: card1;
  font-family: "B612", sans-serif; }

/* line 232, AndaluciaCOVID_Dashboard/static/css/style.scss */
.card:nth-child(2) {
  grid-area: card2;
  font-family: "B612", sans-serif; }

/* line 237, AndaluciaCOVID_Dashboard/static/css/style.scss */
.card:nth-child(3) {
  grid-area: card3;
  font-family: "B612", sans-serif; }

/* line 242, AndaluciaCOVID_Dashboard/static/css/style.scss */
.card-day {
  font-family: "B612", sans-serif;
  color: #003400; }

/* responsive layout */
@media only screen and (min-width: 750px) {
  /* line 251, AndaluciaCOVID_Dashboard/static/css/style.scss */
  .grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "aside header" "aside main" "aside footer";
    height: 100vh; }
  /* line 258, AndaluciaCOVID_Dashboard/static/css/style.scss */
  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0); }
  /* line 264, AndaluciaCOVID_Dashboard/static/css/style.scss */
  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas: "card1 card2" "card1 card3";
    grid-gap: 10px; } }

/* line 274, AndaluciaCOVID_Dashboard/static/css/style.scss */
.menu-icon {
  position: fixed;
  display: flex;
  top: 2px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  color: black; }

/* line 287, AndaluciaCOVID_Dashboard/static/css/style.scss */
#responsive-canvas {
  width: 100%; }

/* line 291, AndaluciaCOVID_Dashboard/static/css/style.scss */
.header_search {
  margin-left: 24px; }

/* line 295, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer; }

/* line 303, AndaluciaCOVID_Dashboard/static/css/style.scss */
.canvas {
  width: 100%;
  height: auto; }

/* line 308, AndaluciaCOVID_Dashboard/static/css/style.scss */
.aside_close-icon {
  color: #000000; }

/* line 312, AndaluciaCOVID_Dashboard/static/css/style.scss */
.show_info {
  font-family: "Montserrat", sans-serif;
  font-size: 12px; }

/* line 319, AndaluciaCOVID_Dashboard/static/css/style.scss */
.table {
  height: 60vh;
  font-size: 12px; }

/* line 324, AndaluciaCOVID_Dashboard/static/css/style.scss */
.container {
  margin-bottom: 10px; }

/* line 328, AndaluciaCOVID_Dashboard/static/css/style.scss */
.container > .fa,
.fas {
  color: #009688;
  margin-right: 10px; }

/* line 334, AndaluciaCOVID_Dashboard/static/css/style.scss */
.info {
  font-family: 'Montserrat', sans-serif; }

/* line 338, AndaluciaCOVID_Dashboard/static/css/style.scss */
.info_prov_detail {
  font-family: 'Montserrat', sans-serif; }

/* line 342, AndaluciaCOVID_Dashboard/static/css/style.scss */
.info_prov_detail b {
  font-family: "B612", sans-serif; }

/* line 346, AndaluciaCOVID_Dashboard/static/css/style.scss */
table {
  font-family: 'Montserrat', sans-serif; }

/* line 351, AndaluciaCOVID_Dashboard/static/css/style.scss */
input {
  height: 32px;
  font-size: 14px;
  width: 80%;
  margin-left: 8px;
  font-family: 'Montserrat', sans-serif;
  border: none; }

/* line 360, AndaluciaCOVID_Dashboard/static/css/style.scss */
input:focus {
  outline: none; }

/* line 365, AndaluciaCOVID_Dashboard/static/css/style.scss */
.button-pill {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px; }

/* line 373, AndaluciaCOVID_Dashboard/static/css/style.scss */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

/* line 380, AndaluciaCOVID_Dashboard/static/css/style.scss */
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

/* line 385, AndaluciaCOVID_Dashboard/static/css/style.scss */
.label .label-pill {
  margin-top: 10px;
  margin-bottom: 20px; }

/* line 390, AndaluciaCOVID_Dashboard/static/css/style.scss */
.button {
  background-color: #ecf0f1;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-decoration: none;
  zoom: 1;
  *display: inline;
  border: 1px solid #ecf0f1;
  height: 32px;
  line-height: 32px;
  padding: 0 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: 'B612', sans-serif;
  color: #666666;
  text-shadow: 0 1px 0 #fff;
  margin: 0;
  text-align: center; }

/* line 412, AndaluciaCOVID_Dashboard/static/css/style.scss */
button:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce; }

@media only screen and (min-width: 750px) {
  /* line 421, AndaluciaCOVID_Dashboard/static/css/style.scss */
  .aside_close-icon {
    display: none;
    color: #000000; } }
