@import "bourbon/bourbon";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Source+Sans+Pro&display=swap");

//VARIABLES
$bg-color: #fff; //body bg color
$_bgshadow-color: rgb(247, 244, 244);
$basic-links-color: #222; //links color
$link-hover-color: #fff; //link hover color
$_cyan: #0f8b8d;
$_ferrari-red: #f42b03;
$_green: #62ab37;
$_copper: #c46d5e;
$_rosewood: #6b0504;
$_cerise: #f00699;
$_asidecolor: #e5eadd;


//MIXINS
@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

body {
  margin: 0;
  padding: 0;
  color: $bg-color;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: $_bgshadow-color;
}

.aside {
  grid-area: aside;
  background-color: $_asidecolor;
  font-family: "Poppins", sans-serif;
}

.main {
  grid-area: main;
  background-color: $bg-color;
}
.footer {
  grid-area: footer;
  background-color: $_bgshadow-color;
}

/* flexing header and footer*/
.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3a4a40;
  padding: 0 15px;
}

/* flexing aside */
.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  z-index: 2;
  transform: translateX(-245px);
}

.aside.active {
  transform: translateX(0);
}

.aside_list {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.aside_list-item {
  padding: 20px 20px 20px 40px;
  color: rgb(27, 18, 18);
}

.main_overview {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
}

.overview_card {
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: seagreen; */
  height: 100px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: #003400;
  border-left: 5px solid rgb(155, 155, 179);
}

.fa-angle-double-down {
  border-radius: 50%;
  height: auto;
  background-color: #5cdb94;
  padding: 8px 10px;
  transition: 0.4s;
}

.header_menu_img {
  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.header_name {
  margin-left: 5px;
  margin-top: 15%;
  color: #08c697;
}

.overview_card {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.header_menu {
  display: flex;
}

.fa-angle-double-up {
  border-radius: 50%;
  height: auto;
  background-color: #ff6d5c;
  padding: 8px 10px;
  transition: 0.4s;
}

.overview_card-info {
  font-family: "Poppins", sans-serif;
}

/* Layout for main-cards section // below main_overview */
.main_cards {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px 400px 400px;
  grid-template-areas:
    "card1"
    "card2"
    "card3";
  grid-gap: 10px;
}
.card {
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  color: rgb(0, 0, 0);
}

.card:first-child {
  grid-area: card1;
  font-family: "Poppins", sans-serif;
}
.card:nth-child(2) {
  grid-area: card2;
  font-family: "Poppins", sans-serif;
}
.card:nth-child(3) {
  grid-area: card3;
  font-family: "Poppins", sans-serif;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      "aside header"
      "aside main"
      "aside footer";
    height: 100vh;
  }

  .aside {
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(0);
  }

  .main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas:
      "card1 card2"
      "card1 card3";
    grid-gap: 10px;
  }
}

.menu-icon {
  position: fixed;
  display: flex;
  top: 2px;
  left: 8px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  color: black;
}

#responsive-canvas {
  width: 100%;
}

.header_search {
  margin-left: 24px;
}

.aside_close-icon {
  position: absolute;
  visibility: visible;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.canvas {
  width: 100%;
  height: auto;
}

.aside_close-icon {
  color: #000000;
}


// TABLES
.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  height: auto;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}
// ANIMATIONS

//MEDIA-QUERIES
@media only screen and (min-width: 750px) {
  .aside_close-icon {
    display: none;
    color: #000000;
  }
}
