<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  {% load static %}
  <title>{% block title %}Andalucía COVID Dashboard{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <!-- Optional theme -->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  {% load compress %} {% compress css %}
  <link type="text/x-scss" href="{% static 'css/style.scss' %}" rel="stylesheet" media="screen" />
  {% endcompress %}
  <script>
    $(document).ready(function () {
      $(".show_info").hide();
      $(".arrow").click(function () {
        if ($(".show_info").is(":hidden")) {
          $(".show_info").show(1000);
        } else {
          $(".show_info").hide(1000);

        }
      });
    });
  </script>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Andalucía COVID</title>
</head>

<body>
  <div class="grid-container">
    <div class="menu-icon">
      <strong> &#9776;</strong>
    </div>
    <header class="header">
      <input id="something" list="somethingelse" placeholder="Buscar un territorio..">
      <datalist id="somethingelse">
        {% for territory in territories %}
        <option id="{{ territory.id }}" value="{{ territory.name }}">{{territory.distrit.province.name}}</option>
        {% endfor %}
      </datalist>
      <button class="button"><i class="fa fa-search"></i></button>
    </header>
    <aside class="aside">
      <div class="aside_close-icon">
        <strong>&times;</strong>
      </div>
      <div class="header_menu">
        <img class="header_menu_img" src="{% static 'img/golotipo.png' %}" alt="logo" />
      </div>
      <ul class="aside_list">
        <li class="aside_list-item"><a href="{% url 'dash_general_view' %}"><i class="fas fa-chart-line"
              style="margin-right: 10px;"></i></i>General</a></li>
        <li class="aside_list-item"><a class="" href="{% url 'dash_province_view' %}"><i class="fas fa-chart-bar"
              style="margin-right: 10px;"></i>Provincias</a></li>
        <li class="aside_list-item"><i class="fas fa-chart-area" style="margin-right: 10px;"></i>Vacunación</li>
        <li class="aside_list-item"><i class="fas fa-question-circle" style="margin-right: 10px;"></i>Q&A</li>
      </ul>
    </aside>
    <main class="main">
      <div class="main_overview">
        {% block content %}{% endblock %}
      </div>
    </main>
    <script type="text/javascript">
      const menuIcon = document.querySelector('.menu-icon');
      const aside = document.querySelector('.aside');
      const asideClose = document.querySelector('.aside_close-icon');

      function toggle(el, className) {
        if (el.classList.contains(className)) {
          el.classList.remove(className);
        } else {
          el.classList.add(className);
        }
      }

      menuIcon.addEventListener('click', function () {
        toggle(aside, 'active');
      });

      asideClose.addEventListener('click', function () {
        toggle(aside, 'active');
      });
      $(function () {
        $('#something').on('input', function () {
          var url = "{% url 'dash_township_detail_view' 123 %}";
          var opt = $('option[value="' + $(this).val() + '"]');
          if (opt.attr('id')!=null && opt.attr('id')!=undefined) {
          document.location.href = url.replace('123', opt.attr('id'))
          };
        });
      });
    </script>
</body>

</html>