{% extends 'base.html' %} {% block content %}
<div class="overview_ts">
  {% for distr in districts %}
  <a href="" class="button button-pill">{{ distr.name }}</a>
  {% endfor %}
</div>
<div class="main_cards">
  <div class="card">
    Aumento de los diagnosticados a 14 días
    <canvas
      class="responsive-canvas"
      id="pie-chart"
      width="350"
      height="250"
    ></canvas>
  </div>
  <div class="card">
    Aumento de ingresados
    <canvas
      class="responsive-canvas"
      id="pie-chart3"
      width="350"
      height="150"
    ></canvas>
  </div>
  <div class="card">
    <p>Datos generales</p>
    <p class="info_prov_detail"><i class="fas fa-square-full"></i><b>PCR 14 días</b> {{ tasaInc14 }}</p>
    <p class="info_prov_detail"><i class="fas fa-square-full"></i><b>PCR 7 días</b> {{ tasaInc7 }}</p>
    <p class="info_prov_detail"><i class="fas fa-square-full"></i><b>Municipios +500 IA</b> {{ townships500|length }}</p>
    <p class="info_prov_detail"><i class="fas fa-square-full"></i><b>Municipios +1000 IA</b> {{townships1000|length }}</p>

  </div>
  <script>
    var ctx = document.getElementById('pie-chart').getContext('2d');
    var data_1 = {
        datasets: [{
        fill: true,
        borderColor: "#99dcd1",
        fill: false,
        label: 'Contagios en un día',
        data: {{ dataAument|safe }}
        }],
        labels: {{ labels|safe }}
        };
    var chart1 = new Chart(ctx, {
        type: 'line',
        data: data_1,
        options: {
                scales: {
      y: {
        min: 0
      }
    },
                    responsive: true
                }
            });

      var ctx_3 = document.getElementById('pie-chart3').getContext('2d');
      var data_3 = {
        datasets: [{
        backgroundColor: "#009688",
        label: 'Hospitalizados Conv',
        data: {{ dataHospitalizedCounter|safe }}
        },
        {
        backgroundColor: "#6ec1b5",
        label: 'UCI',
        data: {{ dataICU|safe }}
        }
        ],
        labels: {{ labels |safe }}
        };
      var chart3 = new Chart(ctx_3, {
         type: 'bar',
        data: data_3,
        options: {
            responsive: true
                }
            });
  </script>
  {% endblock %}
</div>
